./bin/
.bundle/
iso
*.box
virtualfloppy.vfd
packer_cache
packer.log
.DS_Store
.tmp/
.librarian/
.vagrant
.vagrant/
/.vagrant/
.vagrant/machines/../virtualbox/*
*/*/files/*.tar.gz
*/*/files/*.zip
*/*/files/*.tar
/.idea/
.idea
old_modules
modules/*
!modules/.gitkeep
Puppetfile.lock
*.log